.tabla-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

table thead {
  font-size: 1.4rem;
}

table tbody {
  font-size: 1.3rem;
  font-weight: 300;
}

table th,
td {
  border: 1px solid gray;
  padding: 7px;
}

table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

table tbody td:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
  table thead {
    display: none;
  }

  table tr {
    margin-bottom: 8px;
    border-bottom: 4px solid #ddd;
    display: block;
  }

  table th,
  table td {
    font-size: 1.2rem;
  }

  table td {
    display: block;
    border-bottom: 1px solid #ddd;
    text-align: right;
  }

  table td:last-child {
    border-bottom: 0px;
  }

  table td::before {
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
    float: left;
  }
}
